/*reset*/
*{
  /*Estilos Genericos*/
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  }

  a{
    text-decoration: none;
  }
/*Estilos Generales*/
/*Fuente Local*/
@font-face {
    font-family: Karla;
    src: url(../fonts/Karla/Karla-VariableFont_wght.ttf);
    font-family: Inter;
    src: url(../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf)
}

/*Estilos Pagina Index - Navbar*/
.navbar{
border: 1px solid;
padding: 20px 50px 20px 35px;
position: sticky;
top: 0;
}

.navbar ul{
    display: flex;
    justify-content: flex-end;
    font-family: "inter", sans-serif;
}

.navbar ul .nav-item{
padding: 15px;
padding-top: 5px;
padding-bottom: 5px;
}

.nav-item a{
    color: black;
}

.nav-item:hover{
border: 1px solid;
}

#check-menu, label.menu{
    display: none;
}

/*Estilos Pagina Index - Hero*/
.hero{
    display: flex;
    justify-content: space-between;
    background-color: #b99a85;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid;
}

.hero-left {
    width: 50%;
    height: 500px;
    overflow: hidden;
}

.hero-right {
    width: 50%;
    height: 450px;
    overflow: hidden;
    border: 1px solid;
    margin: 25px 50px 25px 0px;

}

h1.hero-title {
    font-family: "inter", sans-serif;
    font-size: 3em;
    color: whitesmoke;
    padding: 160px 50px 20px 50px;
}

p.hero-p {
    font-size: 1.3em;
    color: whitesmoke;
    padding: 0px 50px 20px 50px;
       
}

header .hero-button{
display: inline-block;
    font-size: 16px;
    color: whitesmoke;
    margin: 0px 50px 100px 50px;
    padding: 20px;
    border: 1px solid;
}

.btn-outline-primary{
    color: whitesmoke;
    border-color: whitesmoke;
    border-radius: 0;
    margin: 0px 50px 100px 50px;
}

.btn-outline-primary:hover{
    color: black;
background-color:whitesmoke;
border-color: black;
}

/*Estilos Pagina Index - Seccion Sobre Mi*/
.seccion-sobre-mi{
    display: flex;
    justify-content: space-between;
    padding: 30px 50px 30px 50px;
    border: 1px solid;
}

.content-info-right{
    width: 50%;
    overflow: hidden;
    margin: 25px 0px 25px 50px;
}

.content-info-left{
    width: 50%;
    height: 300px;
    border: 1px solid;
overflow: hidden;
}

.content-info-right{
    width: 50%;
    font-size: 1em;
}

.content-info-right h1{
    width: 50%;
    font-size: 2em;
}


.sobre-mi-button{
    color: rgb(14, 14, 14);
    }
.sobre-mi-button:hover{
    color: black;
}

/*Estilos Pagina Index - Capsulas*/
.text-capsulas{
    margin-bottom: 25px;
}

 .content-capsulas{
        padding-top: 25px;
        padding-bottom: 25px;
        border: 1px solid;
    }

.cards-capsulas div.row:nth-child(1){
padding-bottom: 50px;
padding-left: 50px ;
padding-right: 50px;
display: flex;

}
.card-img-overlay{
       display: block;
}
.cards-capsulas .card{
    border-radius: 0;
}

.card .card-img{
    border-radius: 0;
}

/*No logre llamar correctamente a la clase para aplicar el hover*/
.card-img img:hover{
    opacity: .75;
}

.capsula-button{
    color: whitesmoke;
}

.capsula-button:hover{
    color: white;
}

/*Estilos Pagina Index - Contactame*/
.seccion-contactame{
background-image: url(../media/textura-1.jpg);
color: whitesmoke;
padding: 50px;
background-repeat: no-repeat;
background-size: cover;
}

.btn-outline-success{
    border-color: whitesmoke;
}

.btn-outline-success:hover{
    border-color: black;
    color: black;
background-color: whitesmoke;
}

/*Estilos Footer*/
.footer-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    padding: 20px 50px;
    font-family: "inter", sans-serif;
}

.btn-outline-success{
color: whitesmoke;
border-radius: 0;
}

/*Estilos Pagina Quien soy*/

/*Estilos Pagina Cápsulas*/
.text-capsulas .p-capsulas{
margin: 30px 200px;
}

.text-capsulas h1{
    text-align: center;
}

/*Estilos Pagina Objetos*/

/*Estilos Pagina Taller*/
.h1{
    font-family: "inter", sans-serif;
}

.grid-gallery {
    display: grid;
    padding: 50px;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(4, 200px);
    gap: 20px;
}

.grid-gallery img{
    border: 1px solid;
}

/*Media Queries Index*/
@media (max-width:768px){
    .navbar ul li{
font-size: 1em;
    }

 .hero{
    background-image: url(../media/imagen-principal.jpg);
 }   

 .hero-left{
    width: 100%;
 }

.hero-left .hero-title{
    font-size: 2.5em;
    display: block;
width: 100%;
}

.hero-left .hero-p{
    font-size: 1.3em;
    display: block;
    width: 100%;
}

.hero-right{
    display: none;
}

.content-info-left{
    height: 350px;
    width: 50%;
}

.content-info-right{
width: 50%;
display: block;
}

    .p-capsulas p{
        display: block;
        width: 100%;    
        }
}

.footer-container{
    width: 100%;
}

@media screen and (max-width:600px){
    .navbar ul{
        display: none;
        position: absolute;
        height: 200vh;
        top: 109px;
        height: 200px;
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        background-color: white;
        border: 1px solid;
        padding:  0px;
    }
    label.menu{
display:block;
font-size: 1.7em;
cursor: pointer;
    }

    #check-menu:checked ~ul{
display: block;
    }
}

@media (max-width:480px){
    .hero{
        background-image: url(../media/imagen-principal.jpg);
     }   
     .hero-left{
        width: 100%;
     }
    .hero-left .hero-title{
        font-size: 2.5em;
        display: block;
    }
    
    .hero-left .hero-p{
        font-size: 1.3em;
        display: block;
        width: 100%;
    }

    .seccion-sobre-mi{
        display: block;
        width: 100%;
    }

    .content-info-left{
        width: 100%;
    }

    .content-info-right{
        width: 100%;
        margin: 0px;
        margin-top: 20px;
    }

    /*No logre llamar correctamente a la clase y aunque son cards se bootstrap no se adaptan solas, mi idea era que aparezcan todas en 1 columna */
    .col .col-md-4{
        display: block;
        width: 100%;
    }

    .card-img-overlay h5{
font-size: 1em;
 }

 .card-img-overlay p {
    font-size: 0.8em;
    overflow: hidden;
     }

.card-img-overlay a {
    font-size: 0.8em;
     }

/*Media Queries Pagina Capsulas*/
/*No logre los parrafos de capsulas ni sacarle el margen derecho */
.content-capsulas{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0;
}
    .p-capsulas {
        display: block;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
}